---
import Text from "./Text.astro";

interface Props {
	url: string;
	title: string;
	years: string;
	role: string;
	description: string;
	color: string;
}

const { url, title, years, role, description, color } = Astro.props;
---

<a class="card" href={url} target="_blank">
	<Text size="large">{title}</Text>
	<div class="content">
		<Text>{description}</Text>
		<div class="details">
			<Text mono>{role}</Text>
			<Text mono>{years}</Text>
		</div>
	</div>
</a>
<style define:vars={{ color }}>
	.card {
		background: var(--color);
		padding: var(--size-xl);
		border-radius: var(--size-m);
		min-height: 420px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		color: unset;
		text-decoration: unset;
	}

	.card .content {
		display: flex;
		flex-direction: column;
		gap: var(--size-s);
	}

	.card .details {
		display: flex;
		justify-content: space-between;
	}
</style>
